body{
            background-image: url("../img/bc.png");
        }
        h1{
            text-align: center;/*文本居中对齐*/
            color: white;/*内容的颜色*/
        }
        h2{
            margin-left: 60%;/*边距距离左边%60*/
            color: white;
        }
        p{

            font-size: 16px;/*字体尺寸16个像素，所以下面配合缩进*2就是32*/
            text-indent: 32px;/*缩进32个像素*/
            line-height: 32px;/*设置行高*/
            color: white;/*设置颜色为白色*/
        }
        img{
            position: absolute;/*设置图片居中*/
            left: 50%;
            margin-left: -181px;
        }
        a{
            font-size: 50px;
            color: white;
        }