.xueyuan_order{ overflow:hidden; padding:5px 6px; line-height:36px; height:auto; width:100%; color:#ffffff; font-size:16px; position:relative;}
.xueyuan_order_left{ float:left; line-height:1.2;}
.xueyuan_order_left .span01{ font-size:20px; font-weight:bold; color:#ffff00;}
@media (max-width: 760px) {
.xueyuan_order_left .span02{ display:none;}
}
@media (max-width: 390px) {
.xueyuan_order{ font-size:14px;}
.xueyuan_order_left .span03{ display:none;}
}
.xueyuan_order_dm{ overflow:hidden; padding:3px 6px; line-height:36px; height:auto; width:100%; color:#ffffff; font-size:16px; border-bottom:1px solid #679601;}
.xueyuan_order_dm_left{ float:left;}
.xueyuan_order_dm_left .span01{ font-size:20px; font-weight:bold; color:#ffff00;}
.xueyuan_order_dm_left .span04{ font-family: Arial; font-style: normal; text-decoration: line-through;}
.xueyuan_order_dm_right{ float:right;}

.xueyuan_order_right{ position:absolute; right:6px; bottom:9px;}

.xueyuan_sort{ height:34px; position: relative; margin: 0px -10px;}
.xueyuan_sort .sort_css{ width: calc(33.33% - 10px); float: left; height:34px; line-height:34px; text-align:center; margin: 0px 5px;}
.xueyuan_sort .sort_css a{ display: block; height:34px; line-height:34px; text-align:center; color:#333333; border:1px solid #eeeeee; text-decoration:none; overflow:hidden;}
.xueyuan_sort .sort_css a:active{ display: block;  border:1px solid #70a401; text-decoration:none;}
.xueyuan_sort .sort_css a:hover{ display: block;  border:1px solid #70a401; text-decoration:none;}
.xueyuan_sort .sort_css .sort_xz{ display: block; height:34px; line-height:34px; padding-left:15px; padding-right: 34px; color:#333333; border:1px solid #eeeeee; text-decoration:none; background:url(/mobile/images/tubiao_arr03.jpg?v=201912271715) no-repeat right; background-size: 34px 34px;}
.xueyuan_sort .sort_css01{ float:left; width:76px; text-align:left;}
.xueyuan_sort .sort_css02{}
.xueyuan_sort .sort_more_xs01{ width: calc(33.33% - 10px); position: absolute; top: 34px; left: calc(33.33% + 5px); background: #ffffff; z-index: 1; border: 1px solid #eeeeee; padding: 5px 0px;}
.xueyuan_sort .sort_more_xs01 a{ display: block; padding: 6px 10px; width: 100%; float: left; text-align: center;}
.xueyuan_sort .sort_more_xs02{ width: calc(100% - 10px); position: absolute; top: 34px; left: 5px; background: #ffffff; z-index: 1; border: 1px solid #eeeeee; padding: 5px 0px;}
.xueyuan_sort .sort_more_xs02 a{ display: block; padding: 6px 10px; width: 33.33%; float: left; text-align: center;}
.xueyuan_sort .sort_more_xs03{ width: calc(33.33% - 10px); position: absolute; top: 34px; right: 5px; background: #ffffff; z-index: 1; border: 1px solid #eeeeee; padding: 5px 0px;}
.xueyuan_sort .sort_more_xs03 a{ display: block; padding: 6px 10px; width: 100%; float: left; text-align: center;}

@media (max-width: 360px) {
    .xueyuan_sort .sort_css .sort_xz{ padding-left:5px; padding-right: 24px;}
    .college_classification .col-xs-12 a{ padding: 0px 3px;}
}

.xueyuan_amount{ text-align:center; font-size:14px; margin-bottom:15px; margin-top:15px;}
.xueyuan_amount span{ color:#70a401; font-weight:bold;}
@media (max-width: 420px) {
.xueyuan_sort .span01{ display:none;}
}

.xueyuan_moving{ margin:0px;}
.xueyuan_moving_title{ width:auto; height:30px; line-height:30px; overflow:hidden; background:url(/mobile/images/line_arr01.png) repeat-x center; margin:0px 0px 20px;}
.xueyuan_moving_title span{ display:block; width:143px; height:30px; line-height:30px; overflow:hidden; background:#eeeeee; font-size:18px;}

.xueyuan_moving_list{ border:1px dashed #eeeeee; background:#ffffff; padding-top:15px; margin-bottom:6px;}
.xueyuan_moving_list dt{ font-size:14px !important;}
.xueyuan_moving_list dd{ font-size:14px !important;}
.xueyuan_moving_list .dd_css{ color:#999999; font-size:12px !important;}

.banner_2{ width:100%; height:auto; overflow:hidden; border-top:1px solid #659301; height:100px; margin-top:50px; background: url(/mobile/images/banner/banner_c2.jpg) no-repeat left #306392; background-size: 429px 100px;}
.banner_2 img{ width:100%;}
@media (min-width: 420px) {
.banner_2{ width:100%; height:auto; overflow:hidden; border-top:1px solid #659301; height:120px; margin-top:50px; background: url(/mobile/images/banner/banner_c2.jpg) no-repeat left #306392; background-size: 514px 120px;}
}
@media (min-width: 520px) {
.banner_2{ width:100%; height:auto; overflow:hidden; border-top:1px solid #659301; height:140px; margin-top:50px; background: url(/mobile/images/banner/banner_c2.jpg) no-repeat left #306392; background-size: 600px 140px;}
}
@media (min-width: 620px) {
.banner_2{ width:100%; height:auto; overflow:hidden; border-top:1px solid #659301; height:160px; margin-top:50px; background: url(/mobile/images/banner/banner_c2.jpg) no-repeat left #306392; background-size: 686px 160px;}
}
@media (min-width: 720px) {
.banner_2{ width:100%; height:auto; overflow:hidden; border-top:1px solid #659301; height:180px; margin-top:50px; background: url(/mobile/images/banner/banner_c2.jpg) no-repeat left #306392; background-size: 771px 180px;}
}
@media (min-width: 820px) {
.banner_2{ width:100%; height:auto; overflow:hidden; border-top:1px solid #659301; height:200px; margin-top:50px; background: url(/mobile/images/banner/banner_c2.jpg) no-repeat left #306392; background-size: 857px 200px;}
}
@media (min-width: 920px) {
.banner_2{ width:100%; height:auto; overflow:hidden; border-top:1px solid #659301; height:220px; margin-top:50px; background: url(/mobile/images/banner/banner_c2.jpg) no-repeat left #306392; background-size: 943px 220px;}
}
@media (min-width: 1020px) {
.banner_2{ width:100%; height:auto; overflow:hidden; border-top:1px solid #659301; height:240px; margin-top:50px; background: url(/mobile/images/banner/banner_c2.jpg) no-repeat left #306392; background-size: 1029px 240px;}
}
@media (min-width: 1120px) {
.banner_2{ width:100%; height:auto; overflow:hidden; border-top:1px solid #659301; height:260px; margin-top:50px; background: url(/mobile/images/banner/banner_c2.jpg) no-repeat left #306392; background-size: 1114px 260px}
}
@media (min-width: 1220px) {
.banner_2{ width:100%; height:auto; overflow:hidden; border-top:1px solid #659301; height:280px; margin-top:50px; background: url(/mobile/images/banner/banner_c2.jpg) no-repeat left #306392; background-size: 1200px 280px;}
}

.banner_1{ width:100%; height:auto; overflow:hidden; border-top:1px solid #659301; height:100px; margin-top:50px; background: url(/mobile/images/banner/banner_c1.jpg) no-repeat left #f8b92e; background-size: 429px 100px;}
.banner_1 img{ width:100%;}
@media (min-width: 420px) {
.banner_1{ width:100%; height:auto; overflow:hidden; border-top:1px solid #659301; height:120px; margin-top:50px; background: url(/mobile/images/banner/banner_c1.jpg) no-repeat left #f8b92e; background-size: 514px 120px;}
}
@media (min-width: 520px) {
.banner_1{ width:100%; height:auto; overflow:hidden; border-top:1px solid #659301; height:140px; margin-top:50px; background: url(/mobile/images/banner/banner_c1.jpg) no-repeat left #f8b92e; background-size: 600px 140px;}
}
@media (min-width: 620px) {
.banner_1{ width:100%; height:auto; overflow:hidden; border-top:1px solid #659301; height:160px; margin-top:50px; background: url(/mobile/images/banner/banner_c1.jpg) no-repeat left #f8b92e; background-size: 686px 160px;}
}
@media (min-width: 720px) {
.banner_1{ width:100%; height:auto; overflow:hidden; border-top:1px solid #659301; height:180px; margin-top:50px; background: url(/mobile/images/banner/banner_c1.jpg) no-repeat left #f8b92e; background-size: 771px 180px;}
}
@media (min-width: 820px) {
.banner_1{ width:100%; height:auto; overflow:hidden; border-top:1px solid #659301; height:200px; margin-top:50px; background: url(/mobile/images/banner/banner_c1.jpg) no-repeat left #f8b92e; background-size: 857px 200px;}
}
@media (min-width: 920px) {
.banner_1{ width:100%; height:auto; overflow:hidden; border-top:1px solid #659301; height:220px; margin-top:50px; background: url(/mobile/images/banner/banner_c1.jpg) no-repeat left #f8b92e; background-size: 943px 220px;}
}
@media (min-width: 1020px) {
.banner_1{ width:100%; height:auto; overflow:hidden; border-top:1px solid #659301; height:240px; margin-top:50px; background: url(/mobile/images/banner/banner_c1.jpg) no-repeat left #f8b92e; background-size: 1029px 240px;}
}
@media (min-width: 1120px) {
.banner_1{ width:100%; height:auto; overflow:hidden; border-top:1px solid #659301; height:260px; margin-top:50px; background: url(/mobile/images/banner/banner_c1.jpg) no-repeat left #f8b92e; background-size: 1114px 260px}
}
@media (min-width: 1220px) {
.banner_1{ width:100%; height:auto; overflow:hidden; border-top:1px solid #659301; height:280px; margin-top:50px; background: url(/mobile/images/banner/banner_c1.jpg) no-repeat left #f8b92e; background-size: 1200px 280px;}
}

.banner_5{ width:100%; height:auto; overflow:hidden; border-top:1px solid #659301; height:100px; margin-top:50px; background: url(/mobile/images/banner/banner_c5.jpg) no-repeat left #6da707; background-size: 429px 100px;}
.banner_5 img{ width:100%;}
@media (min-width: 420px) {
.banner_5{ width:100%; height:auto; overflow:hidden; border-top:1px solid #659301; height:120px; margin-top:50px; background: url(/mobile/images/banner/banner_c5.jpg) no-repeat left #6da707; background-size: 514px 120px;}
}
@media (min-width: 520px) {
.banner_5{ width:100%; height:auto; overflow:hidden; border-top:1px solid #659301; height:140px; margin-top:50px; background: url(/mobile/images/banner/banner_c5.jpg) no-repeat left #6da707; background-size: 600px 140px;}
}
@media (min-width: 620px) {
.banner_5{ width:100%; height:auto; overflow:hidden; border-top:1px solid #659301; height:160px; margin-top:50px; background: url(/mobile/images/banner/banner_c5.jpg) no-repeat left #6da707; background-size: 686px 160px;}
}
@media (min-width: 720px) {
.banner_5{ width:100%; height:auto; overflow:hidden; border-top:1px solid #659301; height:180px; margin-top:50px; background: url(/mobile/images/banner/banner_c5.jpg) no-repeat left #6da707; background-size: 771px 180px;}
}
@media (min-width: 820px) {
.banner_5{ width:100%; height:auto; overflow:hidden; border-top:1px solid #659301; height:200px; margin-top:50px; background: url(/mobile/images/banner/banner_c5.jpg) no-repeat left #6da707; background-size: 857px 200px;}
}
@media (min-width: 920px) {
.banner_5{ width:100%; height:auto; overflow:hidden; border-top:1px solid #659301; height:220px; margin-top:50px; background: url(/mobile/images/banner/banner_c5.jpg) no-repeat left #6da707; background-size: 943px 220px;}
}
@media (min-width: 1020px) {
.banner_5{ width:100%; height:auto; overflow:hidden; border-top:1px solid #659301; height:240px; margin-top:50px; background: url(/mobile/images/banner/banner_c5.jpg) no-repeat left #6da707; background-size: 1029px 240px;}
}
@media (min-width: 1120px) {
.banner_5{ width:100%; height:auto; overflow:hidden; border-top:1px solid #659301; height:260px; margin-top:50px; background: url(/mobile/images/banner/banner_c5.jpg) no-repeat left #6da707; background-size: 1114px 260px}
}
@media (min-width: 1220px) {
.banner_5{ width:100%; height:auto; overflow:hidden; border-top:1px solid #659301; height:280px; margin-top:50px; background: url(/mobile/images/banner/banner_c5.jpg) no-repeat left #6da707; background-size: 1200px 280px;}
}

.banner_3{ width:100%; height:auto; overflow:hidden; border-top:1px solid #659301; height:100px; margin-top:50px; background: url(/mobile/images/banner/banner_c3.jpg) no-repeat left #1c1c1c; background-size: 429px 100px;}
.banner_3 img{ width:100%;}
@media (min-width: 420px) {
.banner_3{ width:100%; height:auto; overflow:hidden; border-top:1px solid #659301; height:120px; margin-top:50px; background: url(/mobile/images/banner/banner_c3.jpg) no-repeat left #1c1c1c; background-size: 514px 120px;}
}
@media (min-width: 520px) {
.banner_3{ width:100%; height:auto; overflow:hidden; border-top:1px solid #659301; height:140px; margin-top:50px; background: url(/mobile/images/banner/banner_c3.jpg) no-repeat left #1c1c1c; background-size: 600px 140px;}
}
@media (min-width: 620px) {
.banner_3{ width:100%; height:auto; overflow:hidden; border-top:1px solid #659301; height:160px; margin-top:50px; background: url(/mobile/images/banner/banner_c3.jpg) no-repeat left #1c1c1c; background-size: 686px 160px;}
}
@media (min-width: 720px) {
.banner_3{ width:100%; height:auto; overflow:hidden; border-top:1px solid #659301; height:180px; margin-top:50px; background: url(/mobile/images/banner/banner_c3.jpg) no-repeat left #1c1c1c; background-size: 771px 180px;}
}
@media (min-width: 820px) {
.banner_3{ width:100%; height:auto; overflow:hidden; border-top:1px solid #659301; height:200px; margin-top:50px; background: url(/mobile/images/banner/banner_c3.jpg) no-repeat left #1c1c1c; background-size: 857px 200px;}
}
@media (min-width: 920px) {
.banner_3{ width:100%; height:auto; overflow:hidden; border-top:1px solid #659301; height:220px; margin-top:50px; background: url(/mobile/images/banner/banner_c3.jpg) no-repeat left #1c1c1c; background-size: 943px 220px;}
}
@media (min-width: 1020px) {
.banner_3{ width:100%; height:auto; overflow:hidden; border-top:1px solid #659301; height:240px; margin-top:50px; background: url(/mobile/images/banner/banner_c3.jpg) no-repeat left #1c1c1c; background-size: 1029px 240px;}
}
@media (min-width: 1120px) {
.banner_3{ width:100%; height:auto; overflow:hidden; border-top:1px solid #659301; height:260px; margin-top:50px; background: url(/mobile/images/banner/banner_c3.jpg) no-repeat left #1c1c1c; background-size: 1114px 260px}
}
@media (min-width: 1220px) {
.banner_3{ width:100%; height:auto; overflow:hidden; border-top:1px solid #659301; height:280px; margin-top:50px; background: url(/mobile/images/banner/banner_c3.jpg) no-repeat left #1c1c1c; background-size: 1200px 280px;}
}

.banner_4{ width:100%; height:auto; overflow:hidden; border-top:1px solid #659301; height:100px; margin-top:50px; background: url(/mobile/images/banner/banner_c4.jpg) no-repeat left #1b1b1b; background-size: 429px 100px;}
.banner_4 img{ width:100%;}
@media (min-width: 420px) {
.banner_4{ width:100%; height:auto; overflow:hidden; border-top:1px solid #659301; height:120px; margin-top:50px; background: url(/mobile/images/banner/banner_c4.jpg) no-repeat left #1b1b1b; background-size: 514px 120px;}
}
@media (min-width: 520px) {
.banner_4{ width:100%; height:auto; overflow:hidden; border-top:1px solid #659301; height:140px; margin-top:50px; background: url(/mobile/images/banner/banner_c4.jpg) no-repeat left #1b1b1b; background-size: 600px 140px;}
}
@media (min-width: 620px) {
.banner_4{ width:100%; height:auto; overflow:hidden; border-top:1px solid #659301; height:160px; margin-top:50px; background: url(/mobile/images/banner/banner_c4.jpg) no-repeat left #1b1b1b; background-size: 686px 160px;}
}
@media (min-width: 720px) {
.banner_4{ width:100%; height:auto; overflow:hidden; border-top:1px solid #659301; height:180px; margin-top:50px; background: url(/mobile/images/banner/banner_c4.jpg) no-repeat left #1b1b1b; background-size: 771px 180px;}
}
@media (min-width: 820px) {
.banner_4{ width:100%; height:auto; overflow:hidden; border-top:1px solid #659301; height:200px; margin-top:50px; background: url(/mobile/images/banner/banner_c4.jpg) no-repeat left #1b1b1b; background-size: 857px 200px;}
}
@media (min-width: 920px) {
.banner_4{ width:100%; height:auto; overflow:hidden; border-top:1px solid #659301; height:220px; margin-top:50px; background: url(/mobile/images/banner/banner_c4.jpg) no-repeat left #1b1b1b; background-size: 943px 220px;}
}
@media (min-width: 1020px) {
.banner_4{ width:100%; height:auto; overflow:hidden; border-top:1px solid #659301; height:240px; margin-top:50px; background: url(/mobile/images/banner/banner_c4.jpg) no-repeat left #1b1b1b; background-size: 1029px 240px;}
}
@media (min-width: 1120px) {
.banner_4{ width:100%; height:auto; overflow:hidden; border-top:1px solid #659301; height:260px; margin-top:50px; background: url(/mobile/images/banner/banner_c4.jpg) no-repeat left #1b1b1b; background-size: 1114px 260px}
}
@media (min-width: 1220px) {
.banner_4{ width:100%; height:auto; overflow:hidden; border-top:1px solid #659301; height:280px; margin-top:50px; background: url(/mobile/images/banner/banner_c4.jpg) no-repeat left #1b1b1b; background-size: 1200px 280px;}
}

.banner_6{ width:100%; height:auto; overflow:hidden; border-top:1px solid #659301; height:100px; margin-top:50px; background: url(/mobile/images/banner/banner_c6.jpg) no-repeat left #1b1b1b; background-size: 429px 100px;}
.banner_6 img{ width:100%;}
@media (min-width: 420px) {
.banner_6{ width:100%; height:auto; overflow:hidden; border-top:1px solid #659301; height:120px; margin-top:50px; background: url(/mobile/images/banner/banner_c6.jpg) no-repeat left #1b1b1b; background-size: 514px 120px;}
}
@media (min-width: 520px) {
.banner_6{ width:100%; height:auto; overflow:hidden; border-top:1px solid #659301; height:140px; margin-top:50px; background: url(/mobile/images/banner/banner_c6.jpg) no-repeat left #1b1b1b; background-size: 600px 140px;}
}
@media (min-width: 620px) {
.banner_6{ width:100%; height:auto; overflow:hidden; border-top:1px solid #659301; height:160px; margin-top:50px; background: url(/mobile/images/banner/banner_c6.jpg) no-repeat left #1b1b1b; background-size: 686px 160px;}
}
@media (min-width: 720px) {
.banner_6{ width:100%; height:auto; overflow:hidden; border-top:1px solid #659301; height:180px; margin-top:50px; background: url(/mobile/images/banner/banner_c6.jpg) no-repeat left #1b1b1b; background-size: 771px 180px;}
}
@media (min-width: 820px) {
.banner_6{ width:100%; height:auto; overflow:hidden; border-top:1px solid #659301; height:200px; margin-top:50px; background: url(/mobile/images/banner/banner_c6.jpg) no-repeat left #1b1b1b; background-size: 857px 200px;}
}
@media (min-width: 920px) {
.banner_6{ width:100%; height:auto; overflow:hidden; border-top:1px solid #659301; height:220px; margin-top:50px; background: url(/mobile/images/banner/banner_c6.jpg) no-repeat left #1b1b1b; background-size: 943px 220px;}
}
@media (min-width: 1020px) {
.banner_6{ width:100%; height:auto; overflow:hidden; border-top:1px solid #659301; height:240px; margin-top:50px; background: url(/mobile/images/banner/banner_c6.jpg) no-repeat left #1b1b1b; background-size: 1029px 240px;}
}
@media (min-width: 1120px) {
.banner_6{ width:100%; height:auto; overflow:hidden; border-top:1px solid #659301; height:260px; margin-top:50px; background: url(/mobile/images/banner/banner_c6.jpg) no-repeat left #1b1b1b; background-size: 1114px 260px}
}
@media (min-width: 1220px) {
.banner_6{ width:100%; height:auto; overflow:hidden; border-top:1px solid #659301; height:280px; margin-top:50px; background: url(/mobile/images/banner/banner_c6.jpg) no-repeat left #1b1b1b; background-size: 1200px 280px;}
}

.banner_case{ width:100%; height:auto; overflow:hidden;}
