body {
            max-width: 640px;
            min-width: 320px;
        }

        .show ul {
            width: 100%;
            margin: 0;
            padding: 0;
            list-style: none;
            display: block;
        }

        .show ul li {
            float: left;
            height: 60%;
            border: 1px #70a401 solid;
            margin: 5px;
            padding: 5px;
            border-radius: 10px;
            display: block;

        }