.kecheng_img{ height:auto; position:relative; overflow: hidden;}
.kecheng_img img{ width:100%; min-height: 230px;}
.kecheng_img_play{ position:absolute; left:50%; top:50%; margin-left:-66px; margin-top:-40px; display:block; width:132px; height:81px;}
.kecheng_img_play a:link{ display:block; width:132px; height:81px; background:url(/mobile/images/pause-da.png) no-repeat center; background-size:132px 81px; text-decoration:none;}
.kecheng_img_play a:visited{ display:block; width:132px; height:81px; background:url(/mobile/images/pause-da.png) no-repeat center; background-size:132px 81px; text-decoration:none;}
.kecheng_img_play a:active{ display:block; width:132px; height:81px; background:url(/mobile/images/pause-da-over.png) no-repeat center; background-size:132px 81px; text-decoration:none;}
.kecheng_img_play a:hover{ display:block; width:132px; height:81px; background:url(/mobile/images/pause-da-over.png) no-repeat center; background-size:132px 81px; text-decoration:none;}

#kecheng_menu{ z-index:4; width:100%;}
.kecheng_menu{}
.kecheng_menu_li{ padding:0px; background: #ffffff; width: 20%;}
.kecheng_menu_li a{ display:block; height:50px; line-height:50px; border-bottom:1px solid #70a401; text-align:center; color:#333333; font-size:16px; text-decoration:none;}
.kecheng_menu_li a:active{ display:block; height:50px; line-height:50px; border-bottom:3px solid #70a401; text-align:center; color:#70a401; font-size:16px; text-decoration:none;}
.kecheng_menu .dangqian{ display:block; height:50px; line-height:50px; border-bottom:3px solid #70a401; text-align:center; color:#70a401; font-size:16px; text-decoration:none;}

.kecheng_menu_sx{ padding:8px 15px; background: #f8f8f8;}
.kecheng_menu_sx a:link{ font-size:14px; color:#333333; text-decoration:none; padding:5px 10px 5px 30px; border:1px solid #cccccc;}
.kecheng_menu_sx a:visited{ font-size:14px; color:#333333; text-decoration:none; padding:5px 10px 5px 30px; border:1px solid #cccccc;}
.kecheng_menu_sx a:active{ font-size:14px; color:#70a401; text-decoration:none; padding:5px 10px 5px 30px; border:1px solid #eeeeee;}
.kecheng_menu_sx a:hover{ font-size:14px; color:#70a401; text-decoration:none; padding:5px 10px 5px 30px; border:1px solid #eeeeee;}
.kecheng_menu_sx .on_section:link{ background:url(/mobile/images/on_section_01.png) no-repeat 10px #e4e4e4; background-size:12px 12px;}
.kecheng_menu_sx .on_section:visited{ background:url(/mobile/images/on_section_01.png) no-repeat 10px #e4e4e4; background-size:12px 12px;}
.kecheng_menu_sx .on_section:active{ background:url(/mobile/images/on_section_02.png) no-repeat 10px #eeeeee; background-size:12px 12px;}
.kecheng_menu_sx .on_section:hover{ background:url(/mobile/images/on_section_02.png) no-repeat 10px #eeeeee; background-size:12px 12px;}
.kecheng_menu_sx .next_section:link{ background:url(/mobile/images/next_section_01.png) no-repeat 10px #e4e4e4; background-size:12px 12px;}
.kecheng_menu_sx .next_section:visited{ background:url(/mobile/images/next_section_01.png) no-repeat 10px #e4e4e4; background-size:12px 12px;}
.kecheng_menu_sx .next_section:active{ background:url(/mobile/images/next_section_02.png) no-repeat 10px #eeeeee; background-size:12px 12px;}
.kecheng_menu_sx .next_section:hover{ background:url(/mobile/images/next_section_02.png) no-repeat 10px #eeeeee; background-size:12px 12px;}
.kecheng_menu_sx .on_no_data{ font-size:14px; color:#333333; text-decoration:none; padding:5px 10px 5px 30px; border:1px solid #cccccc; background:url(/mobile/images/on_section_01.png) no-repeat 10px #e4e4e4; background-size:12px 12px;  opacity:0.3; filter:alpha(opacity=30);}
.kecheng_menu_sx .on_no_data:visited{ color: #333333; border:1px solid #cccccc;}
.kecheng_menu_sx .on_no_data:active{ color: #333333; border:1px solid #cccccc;}
.kecheng_menu_sx .on_no_data:hover{ color: #333333; border:1px solid #cccccc;}
.kecheng_menu_sx .next_no_data{ font-size:14px; color:#333333; text-decoration:none; padding:5px 10px 5px 30px; border:1px solid #cccccc; background:url(/mobile/images/next_section_01.png) no-repeat 10px #e4e4e4; background-size:12px 12px;  opacity:0.3; filter:alpha(opacity=30);}
.kecheng_menu_sx .next_no_data:visited{ color: #333333; border:1px solid #cccccc;}
.kecheng_menu_sx .next_no_data:active{ color: #333333; border:1px solid #cccccc;}
.kecheng_menu_sx .next_no_data:hover{ color: #333333; border:1px solid #cccccc;}

.kecheng_mulu_list{ padding:0px;}
.kecheng_mulu_list dl{ margin-bottom:0px;}
.kecheng_mulu_list dt{ font-size:14px !important; height:42px; line-height:42px; background:#f8f8f8; padding-left:15px;}
.kecheng_mulu_list dd{ font-size:14px !important; height:auto; padding-left:15px; padding-top:12px; padding-bottom:8px; border-bottom:1px dashed #eeeeee; padding-right:15px;}
.kecheng_mulu_list dd span{ color:#999999; font-size:12px !important; display:block;}
.kecheng_mulu_list dd li{ display:block; color:#333333; overflow:hidden; width:100%; text-decoration:none; background:url(http://sta.qinxue.com/mobile/images/ml02_play02.png) no-repeat top right; background-size:29px 20px;}
.kecheng_mulu_list dd li:active{ display:block; color:#70a401; overflow:hidden; width:100%; text-decoration:none; background:url(http://sta.qinxue.com/mobile/images/ml02_play02.png) no-repeat top right; background-size:29px 20px;}
.kecheng_mulu_list dd li:hover{ display:block; color:#70a401; overflow:hidden; width:100%; text-decoration:none; background:url(http://sta.qinxue.com/mobile/images/ml02_play02.png) no-repeat top right; background-size:29px 20px;}
.kecheng_mulu_list dd div{padding-right: 60px; height: 23px; line-height: 23px; overflow: hidden;}
.kecheng_mulu_list .dangqian{ background: #f8ffe9;}
.kecheng_mulu_list .dangqian li{ display:block; color:#70a401; overflow:hidden; width:100%; text-decoration:none;}

.kecheng_jieshao{ height:auto; margin-top:7px; margin-bottom:15px; font-size:14px; line-height:1.8;}
.kecheng_jieshao img{ width:100%;}
.kecheng_jieshao .span01{ display: inline-block; margin-right: 15px;}
.kecheng_jieshao hr{ width:100%; height:1px; border-top:1px dashed #cccccc; border-bottom:none;  border-left:none;  border-right:none; padding:0px; margin:20px 0px;}
.kecheng_jieshao_con .span01 .jiage01{ font-family:Arial; font-style:normal; text-decoration: line-through;}
.kecheng_jieshao_con .span01 .jiage02{ font-family:Arial; font-style:normal; color:#70a401; font-size:18px; font-weight:bold;}
.kecheng_jieshao_con .span01 .jiage03{ font-family:Arial; font-style:normal; color:#ff9900; font-size:18px; font-weight:bold;}
.kecheng_jieshao_con .btn-xs, .kecheng_jieshao_con .btn-xs{ font-size:14px;}

@media (max-width: 520px) {
    .kecheng_menu_li .span01{ display:none;}
}

.kecheng_jietu{ height:auto; overflow:hidden; margin-top:20px; margin-bottom:20px; }
.kecheng_jietu_li{ margin-bottom:10px; padding-left:10px; padding-right:10px;}
.kecheng_jietu_li .title{ overflow:hidden; margin:0px auto; height:32px; line-height:32px; text-align:center;}
.kecheng_jietu_li .title a:link{ color: #333333; font-size:14px; text-decoration:none;}
.kecheng_jietu_li .title a:visited{ color: #333333; font-size:14px; text-decoration:none;}
.kecheng_jietu_li .title a:active{ color: #70a400; font-size:14px; text-decoration:none;}
.kecheng_jietu_li .title a:hover{ color: #70a400; font-size:14px; text-decoration:none;}
.kecheng_jietu_li img{ width:100%; border:3px solid #ffffff;}
@media (max-width: 320px) {
    .kecheng_jietu_li{ width:100%;}
}

.kecheng_jietu_class{ height:auto; overflow:hidden; margin-top:50px; background:#000000;}
.kecheng_jietu_class .col-xs-12{ margin:30px 0px; height:100%;}
.kecheng_jietu_class .col-xs-12 .title{ text-align:center; color:#cccccc; font-size:14px; padding-bottom:10px;}
.kecheng_jietu_class .col-xs-4{ text-align:center; color:#cccccc; font-size:14px; padding:0px;}
.kecheng_jietu_class .col-xs-4 a:link{ color: #cccccc; font-size:14px; text-decoration:none; padding:6px 20px; background:#333333;}
.kecheng_jietu_class .col-xs-4 a:visited{ color: #cccccc; font-size:14px; text-decoration:none;}
.kecheng_jietu_class .col-xs-4 a:active{ color: #ffff00; font-size:14px; text-decoration:none;}
.kecheng_jietu_class .col-xs-4 a:hover{ color: #ffff00; font-size:14px; text-decoration:none;}
.kecheng_jietu_class_li{ margin-bottom:30px;}
.kecheng_jietu_class_li span{ color: #333333; font-size:14px; text-decoration:none; padding:6px 20px; background:#111111;}
.kecheng_jietu_class_li img{ width:100%;}
@media (max-width: 460px) {
    .kecheng_jietu_class .col-xs-12{ margin:60px 0px; height:100%;}
    .kecheng_jietu_class_li{ margin-bottom:60px;}
}
.kecheng_sucai{ height:auto; overflow:hidden; margin-top:20px; margin-bottom:20px; }
.kecheng_sucai_li{ font-size:14px; margin-bottom:20px;}
.kecheng_sucai_li .col-zdy{ height:26px; line-height:26px; background:url(/mobile/images/attachment_arr.png) no-repeat left; background-size:20px 20px; text-indent:25px; overflow:hidden;}
.kecheng_sucai_li .col-xs-12,.col-md-6{ padding:0px;}
.attachment_download_03 ul, .attachment_download_03 ul li{ list-style:none; padding:0px; margin:0px;}
.attachment_download_03 ul li span{ float:right;}
.attachment_download_03 ul li a:link{ display:block; color: #70a400; font-size:14px; text-decoration:none; overflow:hidden;}
.attachment_download_03 ul li a:visited{ color: #70a400; font-size:14px; text-decoration:none;}
.attachment_download_03 ul li a:active{ color: #70a400; font-size:14px; text-decoration:none;}
.attachment_download_03 ul li a:hover{ color: #70a400; font-size:14px; text-decoration:none;}

.kecheng_pingjia{ height:auto; overflow:hidden; margin-top:20px; margin-bottom:20px; margin-left:0px; margin-right:0px; }
.kecheng_pingjia .list{ border-bottom:1px dashed #eeeeee; margin-bottom:20px; padding-bottom:20px;}
.kecheng_pingjia_li{ padding:0px;}
.kecheng_pingjia_li .pic{ width:100%; margin:0px auto; height:auto; overflow:hidden; padding-bottom:10px; text-align:center;}
.kecheng_pingjia_li .pic img{ width:100%; border:3px solid #ffffff;}
.kecheng_pingjia_li .content{  height:auto; overflow:hidden; font-size:14px;}
.kecheng_pingjia_li .content span{ font-weight:bold; color:#70a400;}
.kecheng_pingjia_li .title{ width:50%; text-align:left; float:left; font-size:14px; font-weight:bold; height:32px; line-height:32px; margin-bottom:10px;}
.kecheng_pingjia_li .huanyizu{ width:50%; text-align:right; float:right; font-size:14px; height:32px; line-height:32px; margin-bottom:10px;}
.kecheng_pingjia_li .huanyizu a{ background:url(/mobile/images/weareall_change_02.png) no-repeat 6px #eeeeee; border:1px solid #eeeeee; padding:4px 6px 4px 30px; background-size:18px 18px; font-size:14px; text-decoration:none; color:#70a400;}
@media (min-width: 480px) {
    .kecheng_pingjia_li .pic img{ width:60%;}
}
.kecheng_pingjia_li .picture{ width:50px; float:left;}
.kecheng_pingjia_li .picture img{ width:50px;}
.kecheng_pingjia_li .name_con_huifu{ padding-left:65px;}
.kecheng_pingjia_li .name_con_huifu .name_time{ font-size:14px; color:#70a400;}
.kecheng_pingjia_li .name_con_huifu .name_time a:link{ color: #70a400; font-size:14px; text-decoration:none;}
.kecheng_pingjia_li .name_con_huifu .name_time a:visited{ color: #70a400; font-size:14px; text-decoration:none;}
.kecheng_pingjia_li .name_con_huifu .name_time a:active{ color: #333333; font-size:14px; text-decoration:none;}
.kecheng_pingjia_li .name_con_huifu .name_time a:hover{ color: #333333; font-size:14px; text-decoration:none;}
.kecheng_pingjia_li .name_con_huifu .name_time span{ color:#999999;}
.kecheng_pingjia_li .name_con_huifu .con{ font-size:14px;}
.kecheng_pingjia_li .name_con_huifu .huifu{ font-size:14px; background:#e9e9e9; border:1px solid #eeeeee; padding:3px; margin-top:10px;}
.kecheng_pingjia_li .name_con_huifu .huifu span{ color:#ff6600;}

.kecheng_bibj{ height:auto; overflow:hidden; margin-top:20px; margin-bottom:20px; margin-left:0px; margin-right:0px; }
.kecheng_bibj_li{ width:100%; border-bottom:1px dashed #eeeeee; margin-bottom:20px; padding-bottom:20px; padding:0px 0px 10px 0px;}
.kecheng_bibj_li .left{ width:50px; float:left;}
.kecheng_bibj_li .left .picture img{ width:50px;}
.kecheng_bibj_li .left .name{ width:100%; font-size:12px; height:20px; line-height:20px; overflow:hidden; text-align:center;}
.kecheng_bibj_li .left .name a:link{ color: #333333; font-size:12px; text-decoration:none;}
.kecheng_bibj_li .left .name a:visited{ color: #333333; font-size:12px; text-decoration:none;}
.kecheng_bibj_li .left .name a:active{ color: #70a400; font-size:12px; text-decoration:none;}
.kecheng_bibj_li .left .name a:hover{ color: #70a400; font-size:12px; text-decoration:none;}
.kecheng_bibj_li .right{ padding-left:65px;}
.kecheng_bibj_li .right .title{ height:22px; line-height:22px; overflow:hidden;}
.kecheng_bibj_li .right .title a:link{ color: #333333; font-size:14px; text-decoration:none; font-weight:bold;}
.kecheng_bibj_li .right .title a:visited{ color: #333333; font-size:14px; text-decoration:none;}
.kecheng_bibj_li .right .title a:active{ color: #70a400; font-size:14px; text-decoration:none;}
.kecheng_bibj_li .right .title a:hover{ color: #70a400; font-size:14px; text-decoration:none;}
.kecheng_bibj_li .right .time{ font-size:14px; height:20px; line-height:20px; }
.kecheng_bibj_li .right .time a{ float:right; display:block; font-size:14px; background: url(/mobile/images/ml02_play01.png) no-repeat right; background-size: 29px 20px;  color:#999999; text-decoration:none; padding-right:35px;}
.kecheng_bibj_li .right .time .span02{ float:left; color:#999999;}
.kecheng_bibj_li .right .content{ font-size:14px; padding:10px 0px;}
.kecheng_bibj_li .right .ding a{ float:right; color:#333333; text-decoration:none; background: url(/mobile/images/praise.png) no-repeat left; background-size: 14px 14px; padding-left:20px; }
@media (max-width: 380px) {
    .kecheng_bibj_li .right .time .span01{ display:none;}
}
.kecheng_tishi{ height:auto; line-height:1.6; margin:0px 0px; padding:10px; text-align:left; color: #ff0000; font-size: 14px; overflow: hidden; background-color: #fafaa0;}

.kecheng_jiesao_mulu{ width:auto; height:auto; overflow:hidden; padding-top:20px;}
.kecheng_jiesao_mulu_title{ width:auto; height:30px; line-height:30px; overflow:hidden; background:url(/mobile/images/line_arr01.png) repeat-x center; margin:0px 10px 20px;}
.kecheng_jiesao_mulu_title .title{ display:block; width:86px; height:30px; line-height:30px; overflow:hidden; background:#ffffff; font-size:18px; font-weight: bold;}

.member_bottom{ position:fixed; left:0px; bottom:0px; display:block; width:100%; background:#ffffff; border-top:1px solid #eeeeee; z-index:999;}
.member_bottom .col-xs-3{ position:relative; padding:0px;}
.member_bottom .col-xs-3 a{ display:block; height:49px; text-align:center; padding-top:26px;}
.member_bottom .col-xs-3 a:hover{ text-decoration:none; color:#333333;}
.member_bottom .col-xs-3 a:active{ text-decoration:none; color:#70a400;}
.member_bottom .col-xs-3 .current{ text-decoration:none; color:#70a400;}
.member_bottom .member_bottom_menu01 a{ background:url(/mobile/images/menu_01.png) no-repeat center 5px; background-size:22px 20px;}
.member_bottom .member_bottom_menu02 a{ background:url(/mobile/images/menu_02.png) no-repeat center 5px; background-size:22px 20px;}
.member_bottom .member_bottom_menu03 a{ background:url(/mobile/images/menu_03.png) no-repeat center 5px; background-size:22px 20px;}
.member_bottom .member_bottom_menu04 a{ background:url(/mobile/images/menu_04.png) no-repeat center 5px; background-size:22px 20px;}
.member_bottom .member_bottom_menu01 a:hover{ background:url(/mobile/images/menu_01.png) no-repeat center 5px; background-size:22px 20px;}
.member_bottom .member_bottom_menu02 a:hover{ background:url(/mobile/images/menu_02.png) no-repeat center 5px; background-size:22px 20px;}
.member_bottom .member_bottom_menu03 a:hover{ background:url(/mobile/images/menu_03.png) no-repeat center 5px; background-size:22px 20px;}
.member_bottom .member_bottom_menu04 a:hover{ background:url(/mobile/images/menu_04.png) no-repeat center 5px; background-size:22px 20px;}
.member_bottom .member_bottom_menu01 a:active{ background:url(/mobile/images/menu_01d.png) no-repeat center 5px; background-size:22px 20px;}
.member_bottom .member_bottom_menu02 a:active{ background:url(/mobile/images/menu_02d.png) no-repeat center 5px; background-size:22px 20px;}
.member_bottom .member_bottom_menu03 a:active{ background:url(/mobile/images/menu_03d.png) no-repeat center 5px; background-size:22px 20px;}
.member_bottom .member_bottom_menu04 a:active{ background:url(/mobile/images/menu_04d.png) no-repeat center 5px; background-size:22px 20px;}
.member_bottom .member_bottom_menu01 .current{ background:url(/mobile/images/menu_01d.png) no-repeat center 5px; background-size:22px 20px;}
.member_bottom .member_bottom_menu02 .current{ background:url(/mobile/images/menu_02d.png) no-repeat center 5px; background-size:22px 20px;}
.member_bottom .member_bottom_menu03 .current{ background:url(/mobile/images/menu_03d.png) no-repeat center 5px; background-size:22px 20px;}
.member_bottom .member_bottom_menu04 .current{ background:url(/mobile/images/menu_04d.png) no-repeat center 5px; background-size:22px 20px;}

.member_bottom_box{ position: absolute; bottom: 49px; left: 0px; background:#ffffff; border:1px solid #eeeeee; width: 100%; padding:8px 0px;}
.member_bottom_box a{ background: none !important; height: auto !important; padding:8px 0px !important;}
.member_bottom_box .dangqian{ color:#70a400;}
