body{
    min-width: 320px;
    max-width: 750px;
    /*因为flex 给我们划分了10等份*/
    width: 10rem;
    margin: 0 auto;
    line-height: 1.5;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f2f2f2;
}
img{
    /* 这个插件默认的文字大小是 cssroot 16px */
    width: 5.125rem;
    height: 4rem;
    width: 1rem;
}