.main {
    width: 980px;
    height: 455px;
    margin-left: 220px;
    margin-top: 10px;
}

.focus {
    float: left;
    width: 721px;
    height: 455px;
    background-color: purple;
}

.newsflash {
    float: right;
    width: 250px;
    height: 455px;
}

.news {
    height: 165px;
    background-color: pink;

}

.lifeservice {
    height: 209px;
    background-color: purple;
}

.bargain {
    margin-top: 6px;
}

.news-hd {
    height: 33px;
    line-height: 33px;
    border-bottom: 1px #e4e4e4 dotted;
    padding: 0 15px;
}

.news-hd h5 {
    float: left;
    font-size: 14px;
}

.news-hd .more {
    float: right;
}

.news-hd .more::after {
    content: '\e920';
    font-family: 'icomoon';

}