* {
    margin: 0;
    padding: 0;
}

.w {
    width: 1200px;
    margin: auto;
}

body {
    background-color: #f3f5f7;
}

li {
    list-style: none;
}

a {
    text-decoration: none; /*去掉下划线*/
}

.clearfix:before, .clearfix:after {
    content: "";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

.header {
    height: 42px;
    /*background-color: pink;*/
    /*注意会层叠w的样式*/
    margin: 30px auto;
}

.logo {
    float: left;
    width: 198px;
    height: 42px;
    /*background-color: purple;*/
}

.nav {
    float: left;
    margin-left: 60px;
}

.nav ul li {
    float: left;
    margin: 0 15px;
}

.nav ul li a {
    display: block;
    height: 42px;
    padding: 0 10px;
    line-height: 42px;
    font-size: 18px;
    color: #050505;
}

.nav ul li a:hover {
    border-bottom: 2px #00a4ff solid;
    color: #00a4ff;
}

/*搜索模块*/
.search {
    width: 412px;
    height: 42px;
    float: left;
    margin-left: 70px;
}

.search input {
    float: left;
    width: 345px;
    height: 40px;
    border: 1px #00a4ff solid;
    border-right: 0; /*不需要右边框*/
    color: #bfbfbf;
    font-size: 14px;
    padding-left: 15px;
    outline: none;
}

.search button {
    float: left;
    width: 50px;
    height: 42px;
    /*按钮button默认有边框，需要我们手动去掉*/
    border: 0;
    background: url("images/search.png");
    outline: none;
}

/*用户模块*/
.user {
    float: right;
    line-height: 42px;
    margin-right: 30px;
    font-size: 14px;
    color: #666;
}

/*banner区域*/
.banner {
    height: 421px;
    background-color: #1c036c;
}

.banner .w {
    height: 421px;
    /*背景图片 不重复 垂直靠上 水平居中*/
    background: url("images/banner2.png") no-repeat top center;
}

.subNav {
    float: left;
    width: 190px;
    height: 421px;
    background-color: rgba(0, 0, 0, .3); /*黑色半透明*/
}

.subNav ul li {
    height: 45px;
    line-height: 45px;
    padding: 0 20px;
}

.subNav ul li a {
    font-size: 14px;
    color: #fff;
}

.subNav ul li a span {
    float: right;
}

.subNav ul li a:hover {
    color: #00a4ff;
}

.course {
    float: right;
    width: 230px;
    height: 300px;
    /*浮动的盒子不会有外边距合并的问题*/
    margin-top: 50px;
    background-color: #fff;
}

.course h2 {
    height: 48px;
    background-color: #9bceea;
    text-align: center;
    line-height: 48px;
    font-size: 18px;
    color: #fff;
}

.bd {
    padding: 0 20px;
}

.bd ul li {
    padding: 14px 0;
    border-bottom: 1px #ccc solid;
}

.bd ul li h4 {
    font-size: 16px;
    color: #4e4e4e;
}

.bd ul li p {
    font-size: 12px;
    color: #a5a5a5;
}

.bd .more {
    display: block;
    height: 38px;
    border: 1px #00a4ff solid;
    margin-top: 5px;
    text-align: center;
    line-height: 38px;
    color: #00a4ff;
    font-size: 16px;
    font-weight: 700;

}

/*精品推荐*/
.goods {
    height: 60px;
    background-color: #fff;
    margin-top: 10px;
    box-shadow: 0 2px 3px 3px rgba(0, 0, 0, .1);
    line-height: 60px; /*行高会继承*/
}

.goods h3 {
    float: left;
    margin-left: 35px;
    font-size: 16px;
    color: #00a4ff;
}

.goods ul {
    float: left;
    margin-left: 35px;
}

.goods ul li {
    float: left;
}

.goods ul li a {
    padding: 0 30px;
    font-size: 16px;
    color: #050505;
    border-left: 1px #ccc solid;
}


.mod {
    float: right;
    margin-right: 35px;
    font-size: 14px;
    color: #00a4ff;
}

.box {
    margin-top: 30px;
}

.box-hd {
    height: 45px;
}

.box-hd h3 {
    float: left;
    font-size: 20px;
    color: #494949;
}

.box-hd a {
    float: right;
    font-size: 12px;
    color: #a5a5a5;
    margin-top: 10px;
    margin-right: 30px;
}

.box-bd ul {
    width: 1225px; /*由于外边距的问题且是多行 父级宽度不够，可以给足够宽来保证不掉下来*/
}

.box-bd ul li {
    position: relative;
    float: left;
    width: 228px;
    height: 270px;
    background-color: #fff;
    margin-right: 15px;
    margin-bottom: 15px;
}
.box-bd ul em{
    position: absolute;
    top: 4px;
    right: -4px;

}
.box-bd ul li> img {

    width: 100%;

}

.box-bd ul li h4 {
    margin: 20px 20px 20px 25px;
    font-size: 14px;
    color: #050505;
    font-weight: 400;
}

.box-bd .info {
    margin: 0 20px 0 25px;
    font-size: 12px;
    color: #999;
}

.box-bd .info span {
    color: #ff7c2d;
}

.footer {
    height: 415px;
    background-color: #fff;
}

.footer .w {
    padding-top: 35px; /*解决外边距合并的问题*/
}

.copyRight {
    float: left;
}

.copyRight p {
    font-size: 16px;
    color: #666;
    margin: 20px 0 15px 0;
}

.copyRight .app {
    display: block;
    width: 118px;
    height: 33px;
    border: 1px #00a4ff solid;
    text-align: center;
    line-height: 33px;
    font-size: 16px;
    color: #00a4ff;
}

.links {
    float: right;
}

.links dl {
    float: left;
    margin-left: 100px;
}

.links dl dt {
    font-size: 16px;
    color: #333;
    margin-bottom: 5px;
}

.links dl dd a {
    font-size: 12px;
    color: #333;
}

/*编程*/
.biancheng .w {
    height: 435px;
}

.biancheng .bcLeft {
    float: left;
    width: 228px;
    height: 435px;

}

.biancheng .bcLeft h4 {
    color: #494949;
    font-size: 20px;
    font-weight: 400;
}

.biancheng .bcLeft img {
    margin-top: 17px;
}

/*右侧*/
.biancheng .bcRight {
    float: right;
    width: 957px;
    height: 435px;

}

.biancheng .bcRight .one {
    height: 42px;
}

.biancheng .bcRight .one ul {
    margin-left: 190px;
}

.biancheng .bcRight .one li {
    float: left;
    margin-right: 70px;
    font-size: 16px
}

.biancheng .bcRight .one li a {
    font-size: 16px;
    color: #868686;
    line-height: 42px;
}

.biancheng .bcRight .one li a:hover {
    color: #00a4ff;
}

.biancheng .bcRight .one .look {
    font-size: 12px;
    color: #a5a5a5;
    float: right;
    margin-right: 30px;
    margin-top: 12px;
}

.biancheng .bcRight .three {
    height: 270px;
    width: 968px;
    margin-top: 20px;
}

.biancheng .bcRight .three ul li {
    float: left;
    width: 231px;
    height: 270px;
    margin-right: 11px;
}
.biancheng .bcRight .three ul li h4{
    padding: 12px 20px;
    font-size: 14px;
    color: #050505;
}
.biancheng .bcRight .three ul li .info{
    font-size: 12px;
    color: #999999;
    padding: 12px 20px;
}
.biancheng .bcRight .three ul li .info span{
    color: #ff7c2d;

}
/*数据分析*/
.shujushifenxi{
    width: 1200px;
    height: 435px;
    margin-top: 40px;
}

.shujushifenxi .sjLeft{
    float: left;
    width: 228px;
    height: 435px;
}
.shujushifenxi .sjLeft h4{
    font-size: 20px;
    color: #494949;
    margin-bottom: 17px;
}
.shujushifenxi .sjRight{
    float: right;
    width: 957px;
    height: 435px;

}


.shujushifenxi .sjRight .one ul{
    float: left;
    width: 500px;
    height: 45px;
    margin-left: 200px;
}
.shujushifenxi .sjRight .one ul li a{
    float: left;
    color: #868686;
    font-size: 16px;
    padding-right: 65px;
    line-height: 45px;

}
.shujushifenxi .sjRight .one ul li a:hover{
    color: #00a4ff;
}
.shujushifenxi .sjRight .one a{
    float: right;
    height: 45px;
    line-height: 45px;
    color: #a5a5a5;
    font-size: 12px;
    margin-right: 20px;
}
.shujushifenxi .sjRight .three{
    width: 957px;
    height: 265px;
    margin-top: 20px;
}
.shujushifenxi .sjRight .three ul{
    width: 1500px;
}
.shujushifenxi .sjRight .three ul li{
    float: left;
    width: 230px;
    height: 265px;
    padding-right: 12px;
    overflow: hidden;
}


.shujushifenxi .sjRight .three ul li h4{
    padding: 12px 20px;
    font-size: 14px;
    color: #050505;
}
.shujushifenxi .sjRight .three ul li .info{
    font-size: 12px;
    color: #999999;
    padding: 12px 20px;
}
.shujushifenxi .sjRight .three ul li .info span{
    color: #ff7c2d;

}
