* {
    margin: 0;
    padding: 0;
}

.w {
    width: 1200px;
    margin: auto;
}

li {
    list-style: none;
}

a {
    text-decoration: none; /*去掉下划线*/
}

.header {
    height: 42px;
    background-color: pink;
    /*注意会层叠w的样式*/
    margin: 30px auto;
}

.logo {
    float: left;
    width: 198px;
    height: 42px;
    /*background-color: purple;*/
}

.nav {
    float: left;
    margin-left: 60px;
}

.nav ul li {
    float: left;
    margin: 0 15px;
}

.nav ul li a {
    display: block;
    height: 42px;
    padding: 0 10px;
    line-height: 42px;
    font-size: 18px;
    color: #050505;
}
.nav ul li a:hover{
    border-bottom: 2px #00a4ff solid;
    color: #00a4ff;
}