
body {
    max-width: 540px; /*最大宽度*/
    min-width: 320px; /*最小宽度*/
    margin: 0 auto;
    /*默认字体 大小14像素 1.5倍行距*/
    font: normal 14px/1.5 Tanoma, "Lucida Grande", "Verdana", "Microsoft YaHei", STXihei, hei;
    color: #000; /*黑色字体*/
    background-color: #f2f2f2; /*原版背景颜色*/
    -webkit-tap-highlight-color: transparent; /*防止一些元素点击后高亮*/
    overflow-x: hidden; /*水平方向 永远不会出现滚动条*/
    height: 2000px;

}

/*搜索模块*/
.search-index {
    /*background-color: pink;*/
    position: fixed; /*固定定位要写宽度 跟父亲没关系 以屏幕为准*/
    top: 0;
    width: 100%; /*固定定位要写宽度 跟父亲没关系 以屏幕为准*/
    height: 44px;
    max-width: 540px; /*最大宽度*/
    min-width: 320px; /*最小宽度*/
    margin: 0 auto; /*有定位 margin会失效 要用left调整居中*/
    /*left: 0;*/
    /*left: 50%;!*从左边中间线开始排列*!*/
    /*transform: translateX(-50%);!*在显示出自己被隐藏的那部分*!*/
    display: flex;
    background-color: #F6F6F6;
    border-top: 1px #ccc solid; /*上边框*/
    border-bottom: 1px #cccccc solid; /*下边框*/
}

.search {
    flex: 1; /*左侧1份 自适应，必须给父亲添加*/
    height: 26px;
    /*border: 1px #ccc solid;!*携程原色*!*/
    border: 1px black solid; /*携程原色*/
    margin: 7px 10px; /*上边距6px 左右边距10px*/
    border-radius: 5px; /*圆角*/
    position: relative; /*相对定位*/
    font-size: 12px;
    color: #666;
    line-height: 24px; /*行高等于高度 可以垂直居中 也就是上下居中*/
    padding-left: 26px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .2); /*影子 水平不要，垂直2像素 模糊4像素 rgba 深灰色背影*/


}

.search::before {
    content: '';
    /*display: block;!*不用块级元素了，因为会把后面的元素挤下来 改用绝对定位*!*/
    width: 15px;
    height: 15px;
    background: url("../images/sprite.png") no-repeat -59px -279px;
    background-size: 104px auto;
    /*margin: 5px;!*通过margin调整外边距 来调整自己的位置*!*/
    position: absolute; /*绝对定位，要用top 和left 调整位置，子绝父相 还要在父级元素添加*/
    top: 5px; /**/
    left: 5px; /**/


}

.user {
    width: 44px; /*剩下部分给兄弟*/
    height: 44px;
    /*background-color: purple;*/
    font-size: 12px; /*文字大小*/
    text-align: center; /*文字居中*/
    color: #2eaae0; /*我的颜色*/

}

/*利用伪元素 在这个元素里面插入一些东西*/
.user::before {
    /*content: '不能省略，但是可以不写元素';*/
    content: '';
    display: block; /*行内元素要改成块级元素 才能有效果*/
    width: 23px;
    height: 23px;
    background: url("../images/sprite.png") no-repeat -59px -194px; /*插入背景图片，不隐藏*/
    background-size: 104px auto;
    margin: 3px auto -2px; /*外边距 上边5px，其它自动*/


}

a {
    text-decoration: none; /*去除文本超链接 下划线*/
    color: #222; /*所有a的文字颜色*/
}

div {
    box-sizing: border-box; /*css3 盒模型*/
    -moz-box-sizing: border-box;
}

.focus {
    /*margin-top:44px ;!*都能挤下来*!*/
    padding-top: 44px; /*因为上面元素是固定定位 这个被挡住了 所以设置padding-top或者margin-top*/
    /*top: 44px;!*不能直接给top ，top下不来，不知道为什么*!*/

}

/*focus*/
.focus img {
    width: 100%;
}

/*局部导航栏*/
.local-nav {
    display: flex; /*因为里面的5个小li 所以给父亲这种定位*/
    height: 64px; /*高度64 这个 福莱斯flex布局不给宽度*/
    background-color: #fff; /*背景颜色*/
    /*background-color: #b2b2b2;!*背景颜色*!*/
    margin: 3px 4px; /*外边距 上3 下4*/
    border-radius: 8px; /*圆角*/

}

ul {
    list-style: none; /*去掉ul 里面的小点*/
    margin: 0; /*因为ul有默认的值 所以这里必须主动清除*/
    padding: 0; /*因为ul有默认的值 所以这里必须主动清除*/
}

.local-nav li {
    flex: 1;
}

.local-nav a {
    display: flex; /*首先父亲要有这个*/
    flex-direction: column; /*把主轴设置为y轴，里面a里面的2个span就竖着显示了*/
    align-items: center; /*侧轴距中对齐 因为是单行的*/
    font-size: 12px; /*这个里面的文字是12像素*/
}

/*这种被淘汰*/
/*.local-nav-icon{*/
/*    !*应该有个大小*!*/
/*    width: 32px;*/
/*    height: 32px;*/
/*    background-color: pink;*/
/*    margin-top: 8px;!*在福莱克斯里面 不会出现外边距合并的问题 ，所以大胆的给*!*/
/*    background: url("../images/localnav_bg.png") no-repeat 0 0;!*插入背景 不平铺 水平坐标0 垂直坐标0的地方开始*!*/
/*    background-size: 32px auto;!*高度32 宽度自动*!*/
/*}*/

/*这样写是属性选择器 选择属性前面相同的设置相同的值*/
.local-nav li [class^="local-nav-icon"] {
    /*应该有个大小*/
    width: 32px;
    height: 32px;
    background-color: pink;
    margin-top: 8px; /*在福莱克斯里面 不会出现外边距合并的问题 ，所以大胆的给*/
    background: url("../images/localnav_bg.png") no-repeat 0 0; /*插入背景 不平铺 水平坐标0 垂直坐标0的地方开始*/
    background-size: 32px auto; /*高度32 宽度自动*/
}

.local-nav li .local-nav-icon-icon2 {
    background-position: 0 -32px; /*第二个盒子的背景位置*/

}

.local-nav li .local-nav-icon-icon3 {
    background-position: 0 -64px; /*第二个盒子的背景位置*/

}

.local-nav li .local-nav-icon-icon4 {
    background-position: 0 -96px; /*第二个盒子的背景位置*/

}

.local-nav li .local-nav-icon-icon5 {
    background-position: 0 -128px; /*第二个盒子的背景位置*/

}

/*主导航栏nav标签*/
/*宽度不用给 跟上面一样有个外边距，高度不用给 3个 盒子 撑开就可以了*/
nav {
    overflow: hidden; /*给大盒子 的圆角 切去，貌似是 子元素 超出父元素 会被隐藏的意思*/
    border-radius: 8px;
    margin: 0 4px 3px;
}

/*3个盒子公共部分*/
.nav-common {
    height: 88px;
    background-color: pink;
    display: flex; /*迪斯破类*/
}

/*因为每个盒子直接有空隙，所以用中间盒子 设置上下边距 撑开，也可以把上面2个设置下边距，在或者给第一下边距，最下面给上边距*/
.nav-common:nth-child(2) {
    margin: 3px 0;
}
/*背景渐变*/
.nav-common:nth-child(1) {
    background: -webkit-linear-gradient(left, #FA5A55, #FA994D);
}
.nav-common:nth-child(2) {
    background: -webkit-linear-gradient(left, #3875fa, #77b2fa);
}
.nav-common:nth-child(3) {
    background: -webkit-linear-gradient(left, #64cc23, #8ffab8);
}


/*每个a 占1个盒子*/
.nav-items {
    flex: 1; /*相对于父亲来说是孩子*/
    display: flex; /*相对于孩子来说 是父亲*/
    flex-direction: column; /*把主轴设置为列 也就是水平方向*/
}

/*画白线 -n+2 就是选择前2个元素,给a，b 横着的盒子 画右边框线*/
.nav-items:nth-child(-n+2) {
    border-right: 1px #fff solid;

}

/*右侧第二个盒子里面的2个a*/
.nav-items a {
    flex: 1; /*个占一份*/
    text-align: center; /*泰克斯-额赖：森特  水平居中*/
    line-height: 44px; /*赖-害他 设置行高为元素高度 就垂直居中了*/
    color: #fff; /*文字颜色*/
    font-size: 14px; /*字体大小*/
    text-shadow: 1px 1px rgba(0, 0, 0, .2); /*太死的-筛窦 文字阴影*/

}

/*a的第一个孩子*/
.nav-items a:nth-child(1) {
    border-bottom: 1px #fff solid;
}

.nav-items:nth-child(1) a {
    border: 0; /*去除边框*/
    /*..表示父级下面的文件夹/文件 不平铺 底部对齐 横向居中*/
    background: url("../images/hotel.png") no-repeat bottom center;
    background-size: 121px auto; /*背景大小 水平121px 高度自动*/
}


/*侧导航栏*/
.subnav-entry{
    border-radius: 8px;
    background-color: #fff;
    margin: 0 4px;
    display: flex;
    flex-wrap: wrap;/*控制flex，让弹性盒元素在必要的时候拆行*/
}
.subnav-entry li {
    /*里面可以写百分号*/
    flex: 20%;
}


/*body{*/
/*    max-width: 540px;*/
/*    min-width: 320px;*/
/*    margin: 0 auto;*/
/*    font: normal 14px/1.5 Tahoma;,'lucida Grande',Veradana,"Mictosoft Yahei",STXigei,hei;*/
/*    color: #000;*/
/*    background: #f2f2f2;*/
/*    overflow-x: hidden;!*水平滚动条 隐藏 永远不会出现水平滚动条*!*/
/*    -webkit-tap-highlight-color: transparent;!*背景点击透明就不高亮了*!*/
/*}*/
/*a{*/
/*    text-decoration: none;!*泰格雷神-去掉a下划线*!*/
/*}*/
/*div{*/
/*    box-sizing: border-box;!*css3 盒模型 可以忽略border margin*!*/
/*}*/
/*!*搜索模块*!*/
/*.search-index{*/
/*    position: fixed;!*固定定位跟父亲没关系，以浏览器为准*!*/
/*    top: 0;*/
/*    width: 100%; !*固定的盒子 必须有宽度*!*/
/*    min-width: 320px;*/
/*    max-width: 540px;!*限定死 大小*!*/
/*    height: 44px;*/
/*    background: pink;*/
/*    !*margin: 0 auto;!*有定位就不能用margin 0  来做居中了*!*!*/
/*    left: 50%;!*让定位的盒子 居中对齐，用left*!*/
/*    -webkit-transform: translateX(-50%);!*兼容老版本 回缩自身的百分之50*!*/
/*    transform: translateX(-50%);!*回缩自身的百分之五十*!*/
/*    display: flex;*/


/*}*/
/*.bottom{*/
/*    !*border-bottom-style: ;*!*/
/*    margin-bottom: -0px;*/
/*    background: yellow;*/
/*    width: 50%;*/
/*    height: 45px;*/
/*}*/

/*.search{*/
/*    flex: 1;!*必须给父亲添加属性*!*/
/*}*/

/*.user{*/
/*    width: 44px;*/
/*    height: 44px;*/
/*    background-color: purple;*/
/*    font-size: 12px;!*控制 右上角 我的*!*/
/*    text-align: center;!*文字居中对齐*!*/
/*    color: #2eaae0; !*去下划线 去a里面设置 因为整个a都不需要下划线*!*/
/*}*/
/*.user::before{!*伪元素，插入*!*/
/*    content: "";*/
/*    display: block;*/
/*    width: 23px;*/
/*    height: 23px;*/
/*    background: url("sprite.png") no-repeat -59px -194px;!*背景 位置坐标*!*/
/*    background-size:104px auto;!*缩放精灵图*!*/
/*    margin: 4px auto 0;*/

/*}*/