.w {
    width: 1200px;
    margin: 0 auto;
}

header {
    height: 84px;
    border-bottom: 2px #c81523 solid;
}

.logo {
    padding-top: 18px;
}

/*主体*/
.registrerarea {
    height: 512px;
    border: 1px #ccc solid;
    margin-top: 20px;
}

.registrerarea h3 {
    height: 42px;
    border-bottom: 1px #ccc solid;
    background-color: #ececec;
    line-height: 42px;
    padding: 0 10px;
    font-size: 18px;
    font-weight: 400;
}
.loging{
    float: right;
    font-size: 14px;
}
.loging a{
    color: #c81623;
}
.reg_from{
    width: 600px;
    background-color: pink;
    margin: 50px auto 0;
}
.reg_from ul li label {
    display: inline-block;
    width: 88px;
    text-align: right;
}
.reg_from ul li input{
    width: 242px;
    height: 37px;
    border: 1px #ccc solid;
}
.reg_from ul li .error {
    color: #df3033;
}