*{margin:0;}

.bg{ position:absolute; z-index:3;}
.logo{ position:absolute; z-index:4; top:20px; left:20px;}

#index-bigtext{ position:absolute; z-index:5; left:30px; top:120px;}
#index-rulebtn{ position:absolute; z-index:6; right:10px; top:20px;}
#index-startbtn{ position:absolute; z-index:7; left:198px; top:820px;}

#game-winner-btn{ position:absolute; z-index:4; left:179px; top:900px;}
#game-winner-gift{ position:absolute; z-index:5; left:85px; top:180px;}
#game-winner-text{ position:absolute; z-index:5; font-size:40px; font-family:微软雅黑; color:#4781c1; top:650px; text-align:center; width:100%;}

#game-start-water{ position:absolute; z-index:2; top:470px;}
#shaketext{ position:absolute; z-index:99; top:360px; left:230px; font-size:48px; font-family:微软雅黑; color:white;}
#shaketext01{ position:absolute; z-index:99; top:360px; left:230px; font-size:48px; font-family:微软雅黑; color:white; display:block;}
#game-start-centerbg{ position:absolute; z-index:1; top:180px; left:97px;}

#game-loser-enjoy{ position:absolute; z-index:4; top:650px; left:120px;}
#game-loser-agein{ position:absolute; z-index:5; top:770px; left:200px;}